.DS_Store
index.bbl
index.blg
index.fdb_latexmk
index.fls
index.lof
index.log
index.lot
index.out
index.synctex.gz
index.aux
index.toc
index.acn
index.acr
index.alg
index.bcf
index.glg
index.glo
index.gls
index.ist
index.run.xml
.vscode/settings.json
II-chapters/AARDFun.aux
img/fm01overview.png
img/fm02features.png
img/fm03editing.png
img/fm04relationships.png
img/fm05formats.png
img/kg.png
img/pkg.jpg
img/rdf.png
index.lol
thesis.acn
thesis.acr
thesis.alg
thesis.aux
thesis.bbl
thesis.bcf
thesis.blg
thesis.fdb_latexmk
thesis.fls
thesis.glg
thesis.glo
thesis.gls
thesis.ist
thesis.lof
thesis.log
thesis.lol
thesis.lot
thesis.out
thesis.run.xml
thesis.synctex.gz
thesis.toc
img/def01graph.png
img/def02diedgegraph.png
img/def03graphdataset.png
img/def04knowledgebase.png
img/def05graphKG.png
img/def06tripleKG.png
img/def07KGKBgraph.png
img/def08KGKBtriples.png
img/fm02workflows.png
